<div>
  <div *ngIf="currentUser.id" class="edit-form">
    <h4>User</h4>
    <form>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="currentUser.firstName"
          name="firstName"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="currentUser.lastName"
          name="lastName"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentUser.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentUser.isBlocked ? "Banned" : "Unbanned" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentUser.isBlocked"
      (click)="updateBlock(false)"
    >
      Unban
    </button>
    <button
      *ngIf="!currentUser.isBlocked"
      class="badge badge-primary mr-2"
      (click)="updateBlock(true)"
    >
      Ban
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteUser()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateUser()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</div>
