<div class="card-body">
  <div class="container">
    <h3>My tasks</h3>
    <div class="form-group">
      <table class="table table-hover">
        <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Task name</th>
          <th>Material</th>
          <th>Status</th>
          <th>Due date</th>
          <th>Grade</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.id }}</td>
          <td>{{ task.taskName }}</td>
          <td>{{ task.materialName }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.dueDate }}</td>
          <td>{{ task.grade }}</td>
          <td>{{ task.description }}</td>
          <td *ngIf="!task.grade">
          <button class="btn btn-sm btn-primary" *ngIf="task.status !=='Ready for review'" (click)="update(task)">Send for review</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
