label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 550px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.form-horizontal{
  text-align: center;
}
.form-horizontal .form-group{
  padding: 0 5px;
  margin: 0 0 20px 0;
  position: relative;
}
.form-horizontal .form-control{
  background: #f0f0f0;
  border: none;
  box-shadow: none;
  padding: 0 10px 0 45px;
  height: 39px;
  transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
  background: #e0e0e0;
  box-shadow: none;
  outline: 0 none;
}
.form-horizontal .form-group i{
  position: absolute;
  top: 43px;
  left: 22px;
  font-size: 17px;
  color: #c8c8c8;
  transition : all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i{
  color: #00b4ef;
}
.form-row .form-group i{
  padding: 10px 0 0 0;
}

