<!--<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Education app</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="users" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>
</div>-->

<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Education</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item" *ngIf="showAdminPage">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Page</a>
      </li>
      <li class="nav-item" *ngIf="showAdminPage">
        <a href="/users" class="nav-link" routerLink="users">Users</a>
      </li>
      <li class="nav-item" *ngIf="showProfessorPage">
        <a href="/professor" class="nav-link" routerLink="professor">Professor Page</a>
      </li>
      <li class="nav-item" *ngIf="showStudentPage">
        <a href="/student" class="nav-link" routerLink="student">Student Page</a>
      </li>
      <li class="nav-item" *ngIf="showTeacherPage">
        <a href="/teacher" class="nav-link" routerLink="teacher">Teacher Page</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ email }}</a>
      </li>
      <li class="nav-item">
        <a href class="btn btn-outline-danger my-2 my-sm-0 btn-sm" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>@2020-2021 Education app</span>
  </div>
</footer>
