<div *ngIf="tableMode">
  <h1>List disciplines</h1>
  <input type="button" value="Add" class="btn btn-outline-primary" (click)="add()"/>
  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>ShortName</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of disciplines">
      <ng-template [ngIf]="discipline?.id != d.id" [ngIfElse]="edit">
        <td>{{d?.id}}</td>
        <td>{{d?.name}}</td>
        <td>{{d?.shortName}}</td>
        <td>{{d?.description}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editDiscipline(d)">Edit</button>
        </td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="showMaterials(d.id!)">Show materials</button>
        </td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="materialsTable">
  <h1>Materials</h1>
  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Material name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of materials">
      <td>{{m?.id}}</td>
      <td>{{m?.materialName}}</td>
      <td>{{m?.type}}</td>
      <td>{{m?.description}}</td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #edit>
  <td></td>
  <td>
    <input type="text" [(ngModel)]="discipline.name" class="form-control"/>
  </td>
  <td>
    <input type="text" [(ngModel)]="discipline.shortName" class="form-control"/>
  </td>
  <td>
    <input type="text" [(ngModel)]="discipline.description" class="form-control"/>
  </td>
  <td>
    <input type="button" value="Save" (click)="save()" class="btn btn-sm mr-2 btn-success"/>
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm mr-2 btn-warning"/>
  </td>
</ng-template>

<div *ngIf="create">
  <h1>Create discipline</h1>
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="discipline.name" class="form-control"/>
  </div>
  <div class="form-group">
    <label>Short name</label>
    <input type="text" [(ngModel)]="discipline.shortName" class="form-control"/>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="discipline.description" class="form-control"/>
  </div>
  <div>
    <input type="button" value="Save" (click)="save()" class="btn btn-success mr-2"/>
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning mr-2"/>
  </div>
</div>
