<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="materialName">Material name</label>
        <input type="text" class="form-control" id="materialName" required
               [(ngModel)]="material.materialName" name="materialName"/>
      </div>

      <div class="form-group">
        <label for="discipline">Discipline</label>
        <input type="text" class="form-control" id="discipline" required
               [(ngModel)]="material.discipline" name="discipline"/>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" required
               [(ngModel)]="material.type" name="type"/>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type = "text" class="form-control" id="description" required
               [(ngModel)]="material.description" name="description"/>
      </div>

      <button (click)="saveMaterial()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Material was added successfully!</h4>
      <button class="btn btn-success" (click)="newMaterial()">Add</button>
    </div>
  </div>
</div>
